
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
</head>


<div class="wrapper" [class.toggled]="isCollapsed">

  <!-- Sidebar -->
  <nav id="sidebar" class="text-white">
    <div class="sidebar-header p-3 bg-dark">
      <h4 class="mb-0">
        <i class="fas fa-user-shield  me-2"></i>
        <span *ngIf="!isCollapsed">Admin Panel</span>
      </h4>
    </div>

    @if (loggedEmpData.role === 'HR') {
      <ul class="list-unstyled components">
      <li>
        <a routerLink="/dashboard">
          <i class="fas fa-home"></i>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </a>
      </li>

      <li>
        <a routerLink="/department">
          <i class="fas fa-home"></i>
          <span *ngIf="!isCollapsed">Department</span>
        </a>
      </li>

      <li>
        <a routerLink="/designation">
          <i class="fas fa-users"></i>
          <span *ngIf="!isCollapsed">Designation</span>
        </a>
      </li>

      <li>
        <a routerLink="/new-employee/0">
          <i class="fas fa-chart-bar"></i>
          <span *ngIf="!isCollapsed">New Employee</span>
        </a>
      </li>

      <li>
        <a routerLink="/employee-list">
          <i class="fas fa-cog"></i>
          <span *ngIf="!isCollapsed">Employee List</span>
        </a>
      </li>

      <li>
        <a (click)="onLogOff()">
          <i class="fas fa-cog"></i>
          <span *ngIf="!isCollapsed">Logout</span>
        </a>
      </li>
    </ul>
    }@else{
      <ul class="list-unstyled components">
      <li>
        <a routerLink="/dashboard">
          <i class="fas fa-home"></i>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/new-employee/0">
          <i class="fas fa-chart-bar"></i>
          <span *ngIf="!isCollapsed">New Employee</span>
        </a>
      </li>
      <li>
        <a (click)="onLogOff()">
          <i class="fas fa-cog"></i>
          <span *ngIf="!isCollapsed">Logout</span>
        </a>
      </li>
      </ul>
    }
    
  </nav>

  <!-- Page Content -->
  <div id="content" class="w-100">
    <nav class="navbar navbar-light bg-light px-3">
      <button class="btn btn-outline-dark" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </button>
    </nav>

    <div class="container-fluid mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
</script>
